.btn-read-more {
    border: solid 1px #ebeaea;
    border-radius: 10px;
    padding: 2px 15px;
    background-image: -webkit-linear-gradient(bottom, #ededed, #fff);
    background-image: -moz-linear-gradient(bottom, #ededed, #fff);
    background-image: -o-linear-gradient(bottom, #ededed, #fff);
    background-image: -ms-linear-gradient(bottom, #ededed, #fff);
    background-image: linear-gradient(to top, #ededed, #fff);
    font-size: 11px;
    font-family: "Droid Sans";
    color: rgb(126, 146, 148);
    line-height: 1.909;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    cursor: pointer;
}