<div class="wrapper-login">
    <div class="container">
        <div class="row justify-content-center">
           <div class="col-12"> 
                <div class="content-wrapper">
                    <div class="content no-padding-bottom">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <h1 class="text-center">Creator</h1>
                                <hr/>
                                <div class="row mb-30">
                                    <div class="col-sm-6 col-xs-6">
                                        <h4>Name:</h4>Mihail Nikov
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <h4>Nickname:</h4>ScreeM
                                    </div>
                                    <div class="mt-30 col-sm-12 col-xs-12">
                                        <h4>Information:</h4>A highly motivated and innovative with deep knowledge of the development of web applications using PHP, JavaScript/TypeScript and SQL Server databases. Experience in developing applications and solutions for university
                                        assignments and having enthusiasm and ambition to complete projects to the highest standard.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>