<div class="wrapper-article pt-60">
    <article class="container">
        <div class="row no-gutters">
          <div class="col-sm-4 col-xs-12">
            <section class="news">
              <div class="mb-10">
                  <a class="logo" href="/#/">IGDb</a>
              </div>
              <div class="news-body">
                  <img class="pull-left news-img" src="../images/news-logo.png" width="65" height="65">
                  <span class="news-text">
                        Rhoncus quis, varius sed velit. 
                        Mauris quis nunc eu nunc molestie egestas et sit amet odio.
                          Morbi lacinia velit in nibh sodales sed pharetra sem feugiat.
                          Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus.
                            Phasellus tellus orci, congue at tristique at, mattis ut arcu.
                  </span>
              </div>
            </section>
          </div>
          <div class="col-sm-4 col-xs-12">
              <section class="games">
                <div class="section-item">
                  <div class="section-item-title">
                      Recent Games
                  </div>
                  <ul class="section-item-lists">
                      <li class="section-item-list active">Rhoncus quis varius sed velit nibh molestie</li>
                      <li class="section-item-list">Mauris quis nunc eu nunc molestie</li>
                      <li class="section-item-list">Egestas et sit amet odio morbi quis nunc eu</li>
                      <li class="section-item-list">Lacinia velit in nibh sodales sed quis nunc</li>
                      <li class="section-item-list">Pharetra sem feugiat nibh sodales sed</li>
                      <li class="section-item-list">Vivamus ut cursus augue nibh sodales sed</li>
                  </ul>
                </div>
              </section>
          </div>
          <div class="col-sm-4 col-xs-12">
              <section class="posts">
                <div class="section-item">
                  <div class="section-item-title">
                      Recent Posts
                  </div>
                  <ul class="section-item-lists">
                      <li class="section-item-list active">Rhoncus quis varius sed velit nibh molestie</li>
                      <li class="section-item-list">Mauris quis nunc eu nunc molestie</li>
                      <li class="section-item-list">Egestas et sit amet odio morbi quis nunc eu</li>
                      <li class="section-item-list">Lacinia velit in nibh sodales sed quis nunc</li>
                      <li class="section-item-list">Pharetra sem feugiat nibh sodales sed</li>
                      <li class="section-item-list">Vivamus ut cursus augue nibh sodales sed</li>
                  </ul>
                </div>
              </section>
          </div>
        </div>
    </article>
</div>

{{!--Recent Posts--}}
{{!--<div class="col-12 section-item recent-posts">
    <div class="section-item-title">
        Recent Posts
    </div>
    <ul class="sidebar-item-lists">
        <li class="sidebar-item-list">Rhoncus quis varius sed velit nibh molestie</li>
        <li class="sidebar-item-list active">Mauris quis nunc eu nunc molestie</li>
        <li class="sidebar-item-list">Egestas et sit amet odio morbi quis nunc eu</li>
        <li class="sidebar-item-list">Lacinia velit in nibh sodales sed quis nunc</li>
        <li class="sidebar-item-list">Pharetra sem feugiat nibh sodales sed</li>
        <li class="sidebar-item-list">Vivamus ut cursus augue nibh sodales sed</li>
    </ul>
</div>--}}