<div class="wrapper-footer">
    <footer> 
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <nav class="navbar collapse navbar-toggleable-sm navbar-footer">
                        <div class="row no-gutters">
                            <ul class="nav pull-left">
                                <li class="nav-item"><a href="#/" class="nav-link active">Home</a></li>
                                <li class="nav-item"><a href="#contacts" class="nav-link">Contact us</a></li>
                                <li class="nav-item"><a href="#about" class="nav-link">About us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</div>