<main>
    <div class="container">
        <div class="wrapper-home">
            <div class="row">
                {{!--First post--}}
                <article class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-75">
                    <header>
                        <h2 class="home-article-header">
                            What We Offer
                        </h2>
                    </header>
                    <section class="home-news">
                        <div class="home-news-body">
                            <img class="pull-left home-news-img" src="../images/news-logo.png" width="67" height="67">
                            <span class="home-news-text">
                                    Rhoncus quis, varius sed velit. 
                                    Mauris quis nunc eu nunc molestie egestas et sit amet odio.
                                    Morbi lacinia velit in nibh sodales sed pharetra sem feugiat.
                                    Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus.
                                    Phasellus tellus orci, congue at tristique at, mattis ut arcu.
                            </span>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn-read-more">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                </article>

                {{!--Second post--}}
                <article class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-75">
                    <header>
                        <h2 class="home-article-header">
                            Who We Are
                        </h2>
                    </header>
                    <section class="home-news">
                        <div class="home-news-body">
                            <img class="pull-left home-news-img" src="../images/news-logo.png" width="67" height="67">
                            <span class="home-news-text">
                                    Rhoncus quis, varius sed velit. 
                                    Mauris quis nunc eu nunc molestie egestas et sit amet odio.
                                    Morbi lacinia velit in nibh sodales sed pharetra sem feugiat.
                                    Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus.
                                    Phasellus tellus orci, congue at tristique at, mattis ut arcu.
                            </span>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn-read-more">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                </article>

                {{!--Third post--}}
                <article class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-75">
                    <header>
                        <h2 class="home-article-header">
                            Our Missions
                        </h2>
                    </header>
                    <section class="home-news">
                        <div class="home-news-body">
                            <img class="pull-left home-news-img" src="../images/news-logo.png" width="67" height="67">
                            <span class="home-news-text">
                                    Rhoncus quis, varius sed velit. 
                                    Mauris quis nunc eu nunc molestie egestas et sit amet odio.
                                    Morbi lacinia velit in nibh sodales sed pharetra sem feugiat.
                                    Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus.
                                    Phasellus tellus orci, congue at tristique at, mattis ut arcu.
                            </span>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn-read-more">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="wrapper-videos col-12 mt-60 mb-60">
                    <div class="row">
                        <div class="video col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <iframe width="200" height="100" src="https://www.youtube.com/embed/aVtXac6if14" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <iframe width="200" height="100" src="https://www.youtube.com/embed/NWa41eJjr0c" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <iframe width="200" height="100" src="https://www.youtube.com/embed/xp20voR11gs" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <iframe width="200" height="100" src="https://www.youtube.com/embed/ehjJ614QfeM" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <iframe width="200" height="100" src="https://www.youtube.com/embed/xzTuMqODyd0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="container">
    <div class="wrapper-home-footer">
        <div class="row">
            <div class="col-12 text-center">
                <span>We offer the highest quality and most advanced games website anywhere</span>
                <button id="home-footer-btn" class="btn-read-more">
                    Read More
                </button>
            </div>
        </div>
    </div>
</div>
