<div class="header-wrapper">
    <header class="index">
        <div class="container header-container">
            {{!--First row--}}
            <div class="row">
                <div class="wrapper-logo col-xl-6 col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-40 mb-90">
                    <div class="row no-gutters">
                        <div>
                            <a class="logo" href="/#/">IGDb</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="logo-name w-100">Internet Game Database</span>
                        </div>
                    </div>
                </div>
                <div class="wrapper-navbar col-xl-6 col-lg-8 col-md-8 col-sm-6 col-xs-12 mt-40 mb-90">
                    <nav id="main-nav-wrap" class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-faded">
                        <button id="nav-btn" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                            ☰
                        </button>

                        <div class="row wrapper-collapse">
                            <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
                                <ul id="main-nav" class="nav navbar-nav ml-auto pull-right">
                                    <li class="nav-item ml-10"><a href="#home/" class="nav-link active">Home</a></li>
                                    <li class="nav-item"><a href="#news/page/1" class="nav-link">News</a></li>
                                    <li class="nav-item"><a href="#games/page/1" class="nav-link">Games</a></li>
                                    <li class="nav-item"><a href="#users" class="nav-link">Users</a></li>
                                    <li class="nav-item"><a href="#contacts" class="nav-link">Contact us</a></li>
                                    <li class="nav-item"><a href="#about" class="nav-link">About us</a></li>
                                    <li class="nav-item"><a href="#login" class="nav-link">Login</a></li>
                                    <li class="nav-item"><a href="#register" class="nav-link">Register</a></li>
                                    <li id="admin-nav-item" class="nav-item" style="display: none;">
                                        <a href="#admin" class="nav-link">Admin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {{!--Second row--}}
            <div class="row no-gutters heading-category">
                <div class="col-12">
                    <h1 class="heading-category-name">
                        Shooter Category
                    </h1>
                </div>
                <div class="col-12">
                    <h3 class="heading-category-desc">
                        Shooter games are a subgenre of action game
                    </h3>
                </div>
            </div>
        </div>
    </header>
</div>